<div class="cards-list">
  <% @cards.each do |c| %>
    <div class="card">
      <p><%= c.original_text %></p>
      <p><%= c.translated_text %></p>
      <p><%= c.review_date.strftime("%d/%m/%Y") %></p>
      <p><%= link_to "Редактировать", edit_card_path(c.id) %></p>
      <p><button class="btn btn-danger btn-sm"<%= link_to "Удалить", card_path(c.id), method: :delete, data: {confirm: 'Точно?'} %></button></p>
    </div>
  <% end %>
</div>
